.meeting {
    padding-top: 140px;
    padding-bottom: 64px;
    background-color: $deepgreen;
    background-image: url("../img/meeting-cirlce-bg.png"),
                    url("../img/meeting-rectangle.png");
    background-repeat: no-repeat;
    background-position: calc(50% - 740px) top, calc(50% + 650px) bottom;

    &__title {
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 64px;
        color: #fff;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        position: relative;
        z-index: 1;
        width: 350px;
        padding-top: 32px;
        padding-left: 24px;
        padding-right: 24px;
        background-color: $stategreen;
        margin-bottom: 76px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-name {
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: $lightblue;
            margin-top: 16px;
            margin-bottom: 0;
        }

        &-job {
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #fff;
            margin-top: 0;
            margin-bottom: 56px;
        }

        &-btn {
            position: absolute;
            z-index: 1;
            border: none;
            padding: 0;
            background-color: transparent;
            background-image: url("../img/plus.svg");
            background-repeat: no-repeat;
            width: 56px;
            height: 56px;
            cursor: pointer;
            bottom: -28px;
        }

        &-multiple {
            position: absolute;
            z-index: 1;
            border: none;
            padding: 0;
            background-color: transparent;
            background-image: url("../img/multiply.svg");
            background-repeat: no-repeat;
            width: 56px;
            height: 56px;
            cursor: pointer;
            bottom: -28px;
        }

        &-text {
            font-weight: 600;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            margin-top: 8px;
            margin-bottom: 24px;
            max-width: 254px;
            color: #fff;
            margin-top: 8px;
        }

        &-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            align-items: center;
            margin-bottom: 64px;
        }

        &-item:not(:last-child) {
            margin-right: 16px;
        }

        &-alle {
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: #79C8C7;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.meeting__item-img {
    display: none;
}

.meeting__item--open .meeting__item-img {
    display: block;
}


.meeting__item-ajob {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    margin-top: 0;
    margin-bottom: 56px;
}

.meeting__item-box {
    display: none;
}

.meeting__item--open .meeting__item-box {
    display: block;
}

.meeting__item--open .meeting__item-alle {
    display: none;
}

.meeting__item--open .meeting__item-multiple-svg {
    transform: rotate(45deg);
}

.meeting__item--open .meeting__item-x {
    fill: $carol
}

.meeting__item--open .meeting__item-x:hover {
    fill: $lightblue
}

.meeting__item--open .meeting__item-text {
    display: none;
}

.meeting__item--open .meeting__item-list {
    display: none;
}

.meeting__media-svg:hover {
    fill: $carol;
}

.meeting__item-svg:hover {
    fill: $lightblue;
}

.meeting__item-x:hover {
    fill: $carol;
}

@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 

        .meeting {
            background-image: url("../img/meeting-cirlce-bg@2x.png"),
                            url("../img/meeting-rectangle@2x.png");
            background-size: 200px 200px, 100px 100px;
        }

}

@media only screen and (max-width: 1140px) {
    .meeting {
        padding-left: 50px;
        padding-right: 50px;
        background-position: calc(50% - 570px) top, calc(50% + 500px) bottom;
    }
}

@media only screen and (max-width: 950px) {
    .meeting {
        padding-left: 0;
        padding-right: 0;
        background-position: calc(50% - 470px) top, calc(50% + 400px) bottom;
    }
}

@media only screen and (max-width: 785px) {
    .meeting {
        padding-top: 100px;
        padding-bottom: 128px;
        background-position: calc(50% - 370px) top, calc(50% + 340px) bottom;
    }

    .meeting__item {
        max-width: 281px;
    }
}

@media only screen and (max-width: 645px) {
    .meeting {
        background-position: calc(50% - 320px) top, calc(50% + 250px) bottom;
    }

    .meeting__list {
        flex-direction: column;
        align-content: center;
    }

    .meeting__item {
        max-width: 327px;
    }
}

@media only screen and (max-width: 510px) {
    .meeting {
        background-position: calc(50% - 290px) top, calc(50% + 270px) bottom;
    }

    .meeting__title {
        font-size: 32px;
        line-height: 32px;
    }
}